/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/national_anthem.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/outputs/*
/line_fanduel.png
/star_spangler_bannon.html
/star_spangler_bannon.Rmd
/ssb_taylor_1300.jpg
